header {
  min-height: 40px;
  -webkit-box-shadow: 0px 15px 9px -6px rgba(10, 11, 11, 0.2);
  -moz-box-shadow: 0px 15px 9px -6px rgba(10, 11, 11, 0.2);
  box-shadow: 0px 15px 9px -6px rgba(10, 11, 11, 0.2);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.header-link {
  display: none;
  text-align: center;
}

@media print {
  .nav-list {
    display: none;
  }
  .header-link {
    display: block;
  }
}
