$color-font-prymary: #ffffff;
$color-font-additional: rgb(121, 110, 218);
$color-background: #221e1d;
$color-background-light: lighten($color-background, 50%);
$color-active: #882b2b;
$color-light: #ffffff;
$color-skills: #f3aa3d;

$content-width: 1280px;
